.card{
    box-sizing: border-box;
    height: 340px;
    width: 345px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    /* border-radius: 10px; */
}
.card img{
    width: 300px;  
    cursor: pointer;  
}